
body {
    background-color: rgb(146, 141, 141);
    font-family: sans-serif;
    color: black;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-columns: minmax(100px, auto);
}


.nav {
    font-size: 30px;
    /* color: rgb(221, 221, 221); */
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(224, 7, 7, 0.884);
    border: 2px solid grey;
}

.nav:hover {
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    border: 2px solid red;
}

.header-container {
    display: grid;
    grid-template-columns: 
    
}

.meat-potatoes {
    display: flex;
    justify-content: center;
}

.skillz {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.skillz-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.projekt {
    width: 400px;   
    height: 3oopx;
}

.dark-mode {
    background-color: black;
    color: whitesmoke;
}

.contact:any-link {
    color: whitesmoke;
}


