/* use grid to create a nav bar that is located on the left side */
/* wrap the gifs from projects */
    /* may include an onclick function to play gif */



body {
    background-color: #070505f1;
    font-family: sans-serif;
    color: whitesmoke;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-columns: minmax(100px, auto);
    /* background-color: rgb(197, 52, 52);
    border: 2px solid whitesmoke; */
}


.nav {
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(224, 7, 7, 0.884);
    border: 2px solid white;
}

.nav:hover {
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    border: 2px solid red;
}

.nav-home:hover {

}

.nav-projects {

}

.nav-projects:hover {

}

.nav-skills {

}
.nav-skills:hover {

}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header-pic {
    /* flex: 1; */
    /* width: ;
    height: ; */
}
.header-text {
    /* flex: 1; */
}

.meat-potatoes {
    display: flex;
    justify-content: center;
}

.skillz {
    height: 100px;
    width: 100px;
}


